node-red/flows.json
[{"id":"febeaf86.8f30e","type":"tab","label":"Test Flow","disabled":true,"info":""},{"id":"e67c73c6.fe9f6","type":"tab","label":"Test Ring Doorbell","disabled":false,"info":""},{"id":"8d555372.76a19","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"9c180fa3.061dc","type":"server-state-changed","z":"febeaf86.8f30e","name":"Fridge","server":"8d555372.76a19","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.beer_fridge_led_strip","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":120,"wires":[["941dd7af.837bf8"]]},{"id":"941dd7af.837bf8","type":"switch","z":"febeaf86.8f30e","name":"On-Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":120,"wires":[["1098ca92.4fb1f5"],["39f4d6.2a2f2b2a"]]},{"id":"1098ca92.4fb1f5","type":"api-call-service","z":"febeaf86.8f30e","name":"Light on","server":"8d555372.76a19","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.wifi_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":80,"wires":[["20f4ec58.c45b04"]]},{"id":"39f4d6.2a2f2b2a","type":"api-call-service","z":"febeaf86.8f30e","name":"Light off","server":"8d555372.76a19","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.wifi_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":140,"wires":[["78b2e6d5.b2bba8"]]},{"id":"20f4ec58.c45b04","type":"debug","z":"febeaf86.8f30e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":80,"wires":[]},{"id":"78b2e6d5.b2bba8","type":"debug","z":"febeaf86.8f30e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":140,"wires":[]},{"id":"55cf416e.87ed6","type":"server-state-changed","z":"e67c73c6.fe9f6","name":"Doorbell Motion","server":"8d555372.76a19","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_door_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":260,"y":140,"wires":[["ba5af681.66aae8","93331c91.6f6fa"],["74ee7ade.b11e74","49c26803.8aecf8"]]},{"id":"ba5af681.66aae8","type":"api-call-service","z":"e67c73c6.fe9f6","name":"Notify Fridge Someone at door","server":"8d555372.76a19","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.toggle_doorbell","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":60,"wires":[["69b27563.bf89bc"]]},{"id":"d6e41593.a14cf8","type":"api-call-service","z":"e67c73c6.fe9f6","name":"Light off","server":"8d555372.76a19","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.toggle_doorbell","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":200,"wires":[["14f0c0e7.eb38ef"]]},{"id":"69b27563.bf89bc","type":"debug","z":"e67c73c6.fe9f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":60,"wires":[]},{"id":"14f0c0e7.eb38ef","type":"debug","z":"e67c73c6.fe9f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":200,"wires":[]},{"id":"74ee7ade.b11e74","type":"stoptimer","z":"e67c73c6.fe9f6","duration":"5","units":"Second","payloadtype":"bool","payloadval":"true","name":"","x":520,"y":140,"wires":[["d6e41593.a14cf8","c04b4f44.d8eb6"],[]]},{"id":"b3e10c00.c929c","type":"inject","z":"e67c73c6.fe9f6","name":"Test ON","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"binary_sensor.front_door_motion","payload":"on","payloadType":"str","x":100,"y":80,"wires":[["54623a0d.47b8c4","55cf416e.87ed6"]]},{"id":"b1a0e4ec.a20a78","type":"inject","z":"e67c73c6.fe9f6","name":"Test OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"binary_sensor.front_door_motion","payload":"off","payloadType":"str","x":100,"y":200,"wires":[["b747edc7.6cf2a","55cf416e.87ed6"]]},{"id":"49c26803.8aecf8","type":"debug","z":"e67c73c6.fe9f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":200,"wires":[]},{"id":"c04b4f44.d8eb6","type":"debug","z":"e67c73c6.fe9f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":120,"wires":[]},{"id":"54623a0d.47b8c4","type":"debug","z":"e67c73c6.fe9f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":110,"y":40,"wires":[]},{"id":"b747edc7.6cf2a","type":"debug","z":"e67c73c6.fe9f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":110,"y":240,"wires":[]},{"id":"93331c91.6f6fa","type":"debug","z":"e67c73c6.fe9f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":80,"wires":[]}]
